*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #38404d;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(70, 103, 103);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
}

h1{
    font-size: 2rem;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    justify-content: space-between;
}

#user-input{
    width: 80%;
    padding: 0.5rem;
    border-radius: 20rem;
}

#search-btn{
    padding: 0.5rem 1rem;
    border-radius: 20rem;
    background-color: #2f4040;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3e5353;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: antiquewhite solid 2px;
    font-size: 1rem;
    background: conic-gradient(#7ba9a9 var(--progress-degree, 0%), #2c3a3a 0%);
}
.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}